@using Radzen.Blazor
@inherits TestParameterValueBlazorBase<string>

<Validation ErrorMessage="@ErrorMessage">
	<div class="row">
		<div class="col-auto">
			<button onclick="@OnClick" class="ddx-button">
				<img alt="Find Dataset" src="images/Find.png" style="padding: 0 0 7px"/>
			</button>
		</div>
		<div class="col w-100">
			@if (DatasetViewModel.IsDataset.HasValue && DatasetViewModel.IsDataset.Value)
			{
				@DatasetViewModel.DisplayValue
			}
			else
			{
				if (Selected)
				{
					<RadzenLink Text="@DatasetViewModel.DisplayValue" onclick="@(() => OnLinkClicked())" Style="color: white"/>
				}
				else
				{
					<RadzenLink Text="@DatasetViewModel.DisplayValue" onclick="@(() => OnLinkClicked())"/>
				}
			}
		</div>
		<div class="col-auto">
			@if (DatasetViewModel.DatasetSource != null)
			{
				<div class="clear rzi" onclick="@OnClickResetValue"></div>
			}
		</div>
	</div>
</Validation>
