@using ProSuite.DdxEditor.Content.Blazor.ViewModel
@using Radzen
@using Radzen.Blazor

<style>
    /*html, body {
        background-color: red
    }*/

    .rz-datatable-data td .rz-cell-data, .rz-grid-table td .rz-cell-data {
        color: black;
    }

    RadzenTextBox {
	    width: 100%;
    }

    /* selection color */
    /*.rz-state-highlight td {
	    background: #0078d7 ! important;
    }*/
    
    .rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title {
        font-size: 14px;
    }

	.rz-datatable td {
		padding: 0 0.625rem 0 0.625rem;
        height: 38px;
	}

    .rz-datatable-thead th .rz-column-title, .rz-grid-table thead th .rz-column-title {
	    text-transform: unset;
	    color: black;
    }

    .rz-switch {
	    display: block;
    }

    /*.rz-switch .rz-switch-circle:before {
	    background: #ffffff;
	    width: 1rem;
	    height: 1rem;
	    left: 0.27rem;
	    margin-top: -0.5rem;
	    border-radius: 50%;
	    transition-duration: 0.2s;
	    box-shadow: none;
    }*/

    .rz-switch {
	    /*height: 1.29rem;*/
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <RadzenDataGrid @ref="_mainGrid"
                            TItem="ViewModelBase"
                            Data="Rows"
                            SelectionMode="DataGridSelectionMode.Single"
                            ExpandMode="DataGridExpandMode.Multiple"
                            EditMode="DataGridEditMode.Single"
                            AllowColumnResize="true"
                            AllowRowSelectOnRowClick="true"
                            @bind-Value="@SelectedRows"
                            RowClick="OnRowClick"
                            RowExpand="OnRowExpand"
                            RowCollapse="OnRowCollapse"
                            CellRender="OnCellRender"
                            RowRender="OnRowRender">
                <Template Context="viewModel">
                    <RadzenDataGrid TItem="ViewModelBase"
                                    Data="viewModel.Values"
                                    SelectionMode="DataGridSelectionMode.Single"
                                    AllowColumnResize="true"
                                    AllowRowSelectOnRowClick="true"
                                    @bind-Value="@SelectedRows"
                                    RowClick="OnChildRowClick"
                                    RowCreate="OnRowCreate"
                                    RowUpdate="OnRowUpdate"
                                    CellRender="OnCellRender"
                                    Render="OnChildGridRender">
                        <Columns>
                            <RadzenDataGridColumn TItem="ViewModelBase" Property="ParameterName" Title="Parameter" Width="150px"/>
                            <RadzenDataGridColumn TItem="ViewModelBase" Resizable="false" Width="38px">
                                <Template Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    <RadzenImage Path="@vm.ImageSource"></RadzenImage>
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ViewModelBase" Property="Value" Title="Value">
                                <Template Context="subViewModel">
                                    <DynamicComponent Type="subViewModel.ComponentType" Parameters="subViewModel.ComponentParameters"/>
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ViewModelBase" Property="ModelName" Title="Data Model" Width="140px">
                                <Template Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    @vm.ModelName
                                    }
                                </Template>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ViewModelBase" Property="FilterExpression" Title="Filter Expression">
                                <Template Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    @vm.FilterExpression
                                    }
                                </Template>
                                <EditTemplate Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    <RadzenTextBox @bind-Value="vm.FilterExpression" Style="width: 100%;"/>
                                    }
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="ViewModelBase" Property="UsedAsReferenceData" Title="Reference" Width="80px">
                                <Template Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    <RadzenSwitch @bind-Value="vm.UsedAsReferenceData"/>
                                    }
                                </Template>
                                <EditTemplate Context="subViewModel">
                                    @if (subViewModel is DatasetTestParameterValueViewModel vm)
                                    {
	                                    <RadzenSwitch @bind-Value="vm.UsedAsReferenceData"/>
                                    }
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </Template>
                <Columns>
                    <RadzenDataGridColumn TItem="ViewModelBase" Property="ParameterName" Title="Parameter" Width="150px">
                        <Template Context="viewModel">
                            <span>@viewModel.ParameterName</span>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ViewModelBase" Resizable="false" Width="38px">
                        <Template Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
	                            <RadzenImage Path="@vm.ImageSource"></RadzenImage>
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ViewModelBase" Property="Value" Title="Value" Width="300px">
                        <Template Context="viewModel">
                            <DynamicComponent Type="viewModel.ComponentType" Parameters="viewModel.ComponentParameters"/>
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ViewModelBase" Property="ModelName" Title="Data Model" Width="140px">
                        <Template Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
	                            @vm.ModelName
                            }
                            @if (viewModel is TestParameterValueCollectionViewModel collectionViewModel)
                            {
	                            @collectionViewModel.ModelName
                            }
                        </Template>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ViewModelBase" Property="FilterExpression" Title="Filter Expression">
                        <Template Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
                                @vm.FilterExpression
                            }
                        </Template>
                        <EditTemplate Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
	                            <RadzenTextBox @bind-Value="vm.FilterExpression" Style="width: 100%;" />
                            }
                        </EditTemplate>
                    </RadzenDataGridColumn>
                    <RadzenDataGridColumn TItem="ViewModelBase" Property="UsedAsReferenceData" Title="Reference" Width="80px">
                        <Template Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
                                <RadzenSwitch  @bind-Value="vm.UsedAsReferenceData"/>
                            }
                        </Template>
                        <EditTemplate Context="viewModel">
                            @if (viewModel is DatasetTestParameterValueViewModel vm)
                            {
	                            <RadzenSwitch  @bind-Value="vm.UsedAsReferenceData"/>
                            }
                        </EditTemplate>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </div>

        <div class="col-auto">
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => UpClicked()" Disabled="UpButtonDisabled()"
                              Style="border-radius: 0; width: 88px; height: 27px; margin: 4px 0px 4px 0px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                </RadzenButton>
            </div>
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => DownClicked()" Disabled="DownButtonDisabled()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z"/>
                    </svg>
                </RadzenButton>
            </div>
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => InsertRowClicked()" Disabled="InsertRowButtonDisabled()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </RadzenButton>
            </div>
            <div class="col">
                <RadzenButton ButtonStyle="ButtonStyle.Light" Click="() => DeleteRowClicked()" Disabled="DeleteRowButtonDisabled()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                    </svg>
                </RadzenButton>
            </div>
        </div>
    </div>
</div>
